<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT"
         value="[${severity}][${node}:${file}:${line}]: ${message}" />
    <env name="ROSCONSOLE_CONFIG_FILE"
         value="$(dirname)/../config/rosconsole.config" />
    <arg name="arm_id"
         default="panda"
         doc="Name of the panda robot to spawn" />
    <arg name="load_gripper"
         default="true"
         doc="Should a franka hand be mounted on the flange?" />
    <arg name="gsplines_adapter"
         default="gsplines_moveit/MinimumSobolevSeminormAdapter"
         doc="Gsplines addapter" />
    <arg name="initial_joint_positions"
         doc="Initial joint configuration of the panda. Specify as a list of name/value pairs in form of '-J [name-of-joint] [value-in-rad]'. Default is a 90 degree bend in the elbow"
         default="-J $(arg arm_id)_joint1 0
                -J $(arg arm_id)_joint2 -0.785398163
                -J $(arg arm_id)_joint3 0
                -J $(arg arm_id)_joint4 -2.35619449
                -J $(arg arm_id)_joint5 0
                -J $(arg arm_id)_joint6 1.57079632679
                -J $(arg arm_id)_joint7 0.785398163397
                -J $(arg arm_id)_finger_joint1 0.001
                -J $(arg arm_id)_finger_joint2 0.001" />
    <arg name="controller"
         default="position_joint_trajectory_controller"
         doc="Which example controller should be started? (One of {cartesian_impedance,model,force,joint_position,joint_velocity}_example_controller)" />
    <!-- Load gazebo -->
    <include file="$(find franka_gazebo)/launch/panda.launch">
        <arg name="arm_id"
             default="$(arg arm_id)" />
        <arg name="use_gripper"
             default="$(arg load_gripper)" />
        <arg name="initial_joint_positions"
             default="$(arg initial_joint_positions)" />
        <arg name="controller"
             default="$(arg controller)" />
    </include>
    <!-- Load moveit -->
    <include file="$(find gsplines_moveit)/launch/panda_moveit_config_example.launch">

        <arg name="arm_id"
             default="$(arg arm_id)" />
        <arg name="load_gripper"
             default="$(arg load_gripper)" />
    </include>
    <!-- +++++++++++++++++++++++++++++++ -->
    <!-- launch rviz           -->
    <!-- +++++++++++++++++++++++++++++++ -->
    <node name="rviz"
          pkg="rviz"
          type="rviz"
          output="screen"
          args="-d $(find gsplines_moveit)/config/rviz_config.rviz" />
</launch>
