<?xml version="1.0"?>
<launch>
  <group ns="myrobot">
    <!-- Planning scene required parameters -->
    <param name="robot_description" command="xacro '$(find franka_description)/robots/panda_arm.urdf.xacro' hand:=true gazebo:=true"/>
    <param name="robot_description_semantic" command="$(find xacro)/xacro '$(find panda_moveit_config)/config/panda_arm_hand.srdf.xacro'"/>
    <group ns="robot_description_planning">
      <rosparam command="load" file="$(find panda_moveit_config)/config/joint_limits.yaml"/>
    </group>
    <group ns="robot_description_kinematics">
      <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    </group>
    <!-- 5. Introduce robot in Gazebo  -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda -z 0.2 -gazebo_namespace '/myrobot/gazebo' -unpause"/>
    <!-- 6. Launch RVIZ and Gazebo -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args=""/>
    <!-- 6.1 Load moeit control parameters -->
    <group ns="panda">
      <rosparam file="$(find gsplines_moveit)/config/franka_control.yaml" command="load"/>
    </group>
    <!-- 6.1.1 ask controller manager to load and start the controller -->
    <node name="control_spawner" pkg="controller_manager" type="spawner" args="--namespace='/myrobot/panda' effort_joint_trajectory_controller franka_state_controller" respawn="false" output="screen"/>
    <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
      <rosparam param="source_list">[franka_state_controller/joint_states, franka_gripper/joint_states] </rosparam>
      <param name="rate" value="30"/>
    </node>
    <!-- 6.2 launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="worlds/empty.world"/>
      <arg name="paused" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="use_sim_time" value="true"/>
    </include>
    <!-- 7. Launch Move group -->
  </group>
</launch>
